<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
    <add assembly="NLog.Targets.Loki"/>
  </extensions>

  <targets>
    <target xsi:type="Console" name="console"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />

    <target xsi:type="loki" name="loki"
            batchSize="200"
            taskDelayMilliseconds="500"
            endpoint="http://localhost:3100">
      <label name="app" layout="warehouse-nomenclature-api" />
      <label name="level" layout="${level:lowercase=true}" />
      <layout xsi:type="JsonLayout">
        <attribute name="timestamp" layout="${longdate}" />
        <attribute name="level" layout="${level:uppercase=true}" />
        <attribute name="logger" layout="${logger}" />
        <attribute name="message" layout="${message}" />
        <attribute name="exception" layout="${exception:format=tostring}" />
        <attribute name="correlationId" layout="${mdlc:item=CorrelationId}" />
      </layout>
    </target>
  </targets>

  <rules>
    <logger name="Microsoft.Hosting.Lifetime" minlevel="Info" writeTo="console,loki" final="true" />
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    <logger name="System.Net.Http.*" maxlevel="Info" final="true" />
    <logger name="*" minlevel="Info" writeTo="console,loki" />
  </rules>
</nlog>
