<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="Info"
      internalLogFile="${basedir}/logs/nlog-internal.log">

  <targets>
    <target xsi:type="Console"
            name="console"
            layout="${longdate}|${level:uppercase=true}|${logger}|${scopeproperty:CorrelationId}|${message}${onexception:inner=${newline}${exception:format=tostring}}" />

    <target xsi:type="File"
            name="file"
            fileName="${basedir}/logs/gateway-${shortdate}.log"
            layout="${longdate}|${level:uppercase=true}|${logger}|${scopeproperty:CorrelationId}|${message}${onexception:inner=${newline}${exception:format=tostring}}"
            archiveEvery="Day"
            maxArchiveFiles="30" />
  </targets>

  <rules>
    <logger name="Microsoft.AspNetCore.*" maxlevel="Info" final="true" />
    <logger name="Yarp.*" minlevel="Info" writeTo="console,file" />
    <logger name="*" minlevel="Info" writeTo="console,file" />
  </rules>
</nlog>
